### User and PWD config ########################
WORKSPACE_USER=noh
WORKSPACE_PASSWORD=noh
# WORKSPACE_PHP_VERSION=8.0
# WORKSPACE_COMPOSER_VERSION=2.1.3
WORKSPACE_PHP_VERSION=7.2
WORKSPACE_COMPOSER_VERSION=1.10.2
PHPMYADMIN_VER=latest
PHPMYADMIN_PORT=8080


### Web server config #################
WEB_SERVER_HTTP_PORT=80
WEB_SERVER_HTTPS_PORT=4434

### MySql related config #######################
DATABASE_IMAGE=mysql
DATABASE_VERSION=5.7
DATABASE_ROOT_PASSWORD=root
DATABASE_STORE=db_data

### Workspace mount point  ####################
PHP_WORKSPACE=/home/name/development
GOLANG_WORKSPACE=source
NODE_WORKSPACE=source

########################
# Redis related config #
########################
REDIS_VERSION=alpine
REDIS_PORT=6379
REDISINSIGHT_VERSION=1.13.0
REDISINSIGHT_PORT=8001

### Node version for workspace #################
NODE_VERSION=lts
YARN_VERSION=3.2.0

### Golang version ####################
GOLANG_VERSION=1.19.0
